<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="text-center">Alunos</h1>
  <table class="table table-bordered table-striped ">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Matricula</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @alunos.each do |aluno| %>
        <tr>
          <td class="text-center"><%= aluno.name %></td>
          <td class="text-center"><%= aluno.matricula %></td>
          <td class="text-center" ><%= link_to '', aluno, class: "btn btn-primary fa fa-eye" %>
              <%= link_to '', edit_aluno_path(aluno), class: "btn btn-warning fa fa-pencil" %>
              <%= link_to '', aluno, class: "btn btn-danger fa fa-trash", method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @alunos %>
  <br>

  <%= link_to '', new_aluno_path, class: "btn btn-success fa fa-user-plus"%>
</div>
